<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" id="<% task.id %>"
        <% if task.completed %>
          checked
        <% end %> >
      <label for="<% task.id %>"><%= link_to task.title, task_path(task) %></label>
      <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to '+ Add a new task', tasks_new_path %>
